<!DOCTYPE html>
<html>
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-left">
        <a class="navlink" routerLink="home">
          Shiina
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="15"
            height="15"
            viewBox="0 0 15 15"
            fill="none"
          >
            <circle cx="7.5" cy="7.5" r="7.5" fill="#6FB8FB" />
          </svg>
        </a>
      </div>
      <div class="navbar-right">
        <a class="navlink" routerLink="resume">Resume</a>
        <a class="navlink" routerLink="projects">Projects</a>
        <a class="navlink" routerLink="contact">Contact Me</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</html>
